form {
  margin: 3rem auto 2rem auto;
  width: 40%;
  text-align: center;
  background-color: white;
  input {
    margin: 1rem;
    line-height: 1.5rem;
    inline-size: 30%;
    padding-left: 0.5rem;
  }
  textarea {
    padding: 0.5rem;
  }
  button {
    padding: 0 1rem;
    height: 1.9rem;
    margin-bottom: 0.5rem;
  }
  button:ho {
    background-color: palevioletred;
  }
  .button {
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 1rem;
    line-height: 2rem;
    height: 2rem;
    margin: 1.5rem 0.5rem;
  }
  #rest-buttons {
    margin: 1rem 0;
  }
  .true {
    background-color: rgb(175, 183, 192);
    border: 1px solid lightslategray;
  }
}
