#history {
  table {
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    width: 80%;
    border: 1px solid #222;
    background-color: white;
    border-radius: 10px;
    thead {
      border-bottom: 3px solid black;
    }
    th,
    td {
      border-bottom: 1px solid black;
    }
    td {
      cursor: pointer;
      padding-left: 1rem;
    }
    tr {
      height: 2rem;
    }
    .fwidth {
      text-align: center;
      width: 20%;
      border-right: 1px solid #222;
      font-weight: 700;
    }
    #hisGET {
      background-color: rgb(114, 125, 228);
    }
    #hisPOST {
      background-color: rgb(122, 241, 106);
    }
    #hisPUT {
      background-color: rgb(228, 213, 82);
    }
    #hisDELETE {
      background-color: rgb(228, 114, 114);
    }
  }
}
